@use 'vars' as *;

//----------------------------------------------//
// Page numbering
//----------------------------------------------//

@if $page-numbering == true{
    $numbering-size:0.8cm;
    .A4:first-of-type{
        counter-set: p 0;
    }
    .A4{    
        &::after{
            content: counter(p); 
            background-color: $dark-accent;
            color: white;
            border-radius: 100px;
            position: absolute;
            bottom: calc($page-padding/2 - $numbering-size/2);
            left:50%;
            transform: translateX(-50%);
            line-height: $numbering-size;
            display: block;
            width: $numbering-size;
            height:$numbering-size;
            text-align: center;
        }
        counter-increment: p;
    }
    .A4-nonum {
        counter-increment: p;
    }
    .-nonum{
        &::after{
            content: '';
            display: none;
        }
    }
}

//----------------------------------------------//
// Heading numbering
//----------------------------------------------//
body{
    counter-set: h1 h2 h3 h4 h5 h6 ;
}

.numbering{
    font-weight:inherit;
    width: 3rem;
    display: inline-block;
    user-select: none;
    color: inherit;
}

// @if $h1-numbering {
//     h1{
//         counter-set: h2 0;
//         counter-increment: h1;
//     }
//     h1::before{
//         content: counter(h1);
//         position: absolute;
//         opacity: 0.25;
//         color: $dark;
//         left:-1.5cm;
//         top:-3pc;
//         line-height: 8rem;
//         font-size: 9rem;
//         z-index: 0;
//     }
// } 

// @if $heading-numbering == true {
//     h2{
//         counter-increment: h2;
//         counter-set: h3 0;
//     }
//     h3{
//         counter-increment: h3;
//         counter-reset: h4 0;
//     }
//     h4{
//         counter-increment: h4;
//         counter-reset: h5;
//     }
//     h5{
//         counter-reset: h6;
//         counter-increment: h5;
//     }
//     h6{
//         counter-increment: h6;
//     }
//     h2::before { content: counter(h2) ". ";width: 2.5rem;display: inline-block;}
//     h3:before { content: counter(h2) "." counter(h3) ". ";width: 2.5rem;display: inline-block;}
//     h4:before { content: counter(h2) "." counter(h3) "." counter(h4) ". ";width: 5rem;}
//     h5:before { content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";width: 2.5rem;display: inline-block;}
//     h6:before { content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";width: 2.5rem;display: inline-block;}
//     // h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {content: ""; counter-increment: none} 

     
// }