@use 'vars' as *;

//----------------------------------------------//
// Icons using google fonts
//----------------------------------------------//

//<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@mixin icon{
    display: inline;
    inset-inline-start: -1.25em;
    inset-block-start: 0;
    position: absolute;
    font-family: 'Material Icons';
    font-style: normal;
    color: $dark-accent;
    line-height: 1.2em;
    text-transform: lowercase;
}
.GI{
    font-family: 'Material Icons';
    font-size: 1.2em;
    line-height: 0em;
    position: relative;
    top:.15em;
}
.I{ 
    //icons
    &-done::before{
        @include icon;
        content: "done";
        color: green;
    }
    &-close::before{
        @include icon;
        content: "close";
        color: red;
    }
    &-h-rule::before{
        @include icon;
        content: "horizontal_rule";
        color: orange;
    }
    &-flag::before {
        @include icon;
        content: "outlined_flag";
    }
    &-flag-fill::before {
        @include icon;
        content: "flag";
    }
    &-done-all::before{
        @include icon;
        content: "done_all";
        color:green;
    }
    &-priority::before{
        @include icon;
        content: "priority_high";
        color:red;
    }
    &-quote::before{
        @include icon;
        content: "format_quote";
    }
    &-groups::before{
        @include icon;
        content: "groups";
    }
    &-location::before{
        @include icon;
        content: 'location_on';
    }
    &-music::before{
        @include icon;
        content: 'music_note';
    }
    &-date::before{
        @include icon;
        content: 'event';
        // top:10%;
    }
    &-movie::before{
        @include icon;
        content: 'live_tv';
    }
    &-lamp::before{
        @include icon;
        content: 'emoji_objects';
    }
    &-earth::before{
        @include icon;
        content: 'Public';
    }
    &-document::before{
        @include icon;
        content: 'Document';
    }
    &-question::before{
        @include icon;
        content: 'Question_mark';
    }
    &-history::before{
        @include icon;
        content: 'history';
    }
    &-education::before{
        @include icon;
        content: 'history_edu';
    }
    &-interests::before{
        @include icon;
        content: 'interests';
    }
    &-code::before{
        @include icon;
        content: 'code';
    }
    &-engineering::before{
        @include icon;
        content: 'engineering';
    }
    &-book::before{
        @include icon;
        content: 'auto_stories';
    }
    &-person::before{
        @include icon;
        content: 'person';
    }
    &-task::before{
        @include icon;
        content: 'task_alt';
    }
    &-hotel::before{
        @include icon;
        content: 'hotel';
    }
    &-train::before{
        @include icon;
        content: 'train';
    }
    &-flight::before{
        @include icon;
        content: 'flight';
    }
    &-walk::before{
        @include icon;
        content: 'directions_walk';
    }
    &-bike::before{
        @include icon;
        content: 'directions_bike';
    }
    &-golf::before{
        @include icon;
        content: 'golf_course';
    }
    &-plane::before{
        @include icon;
        content: 'flight';
    }
    &-food::before{
        @include icon;
        content: 'restaurant';
    }
    &-cafe::before{
        @include icon;
        content: 'local_cafe';
    }
    &-bar::before{
        @include icon;
        content: 'local_bar';
    }
    &-bar, &-cafe, &-food, &-plane, &-golf, &-bike, &-walk, &-flight, &-train, &-hotel, &-task, &-person, &-book, &-done, &-done-all, &-close, &-h-rule, &-flag,&-flag-fill, &-priority, &-quote, &-groups, &-location, &-music, &-date, &-movie, &-lamp, &-earth, &-document, &-question, &-history, &-question, &-education, &-engineering, &-code, &-interests{
        list-style-type: none;
        position: relative;
        padding: 0;
        margin-inline-start: 1.25rem;

        &li{
            margin-left: 0;
        }
        &.I-big{
            padding-left: 3rem;
            margin-bottom: 2.5rem;
            line-height: 1;
        
            &::before{
                font-size: 2.5rem;
                line-height: 2.5rem;
                left:0;
                top: 0;
            }
        }
        &.I-right{
            padding-left: 0;
            padding-right:1.2rem;

            &::before{
                right:0;
            }
        }
        &.tag{
            padding-left: 1.25rem;

            &::before{left: 0.35rem;top: 50%;transform: translateY(-50%);}
        }
    }
}

.I-dark::before{color: $dark;}
        
.I-light::before{color: $light;}

.I-dark-accent::before{color: $dark-accent;}

.I-light-accent::before{color: $light-accent;}
//style modefieres
.I-list{
    margin-left: 0;
}


//----------------------------------------------//
// Unicode flags
//----------------------------------------------//
.F{
    &-RU::before{
        content: '🇷🇺 ';
        white-space: nowrap;
    }
    &-FR::before{
        content: '🇫🇷 ';
        white-space: nowrap;
    }
    &-PL::before{
        content: '🇵🇱 ';
        white-space: nowrap;
    }
    &-IR::before{
        content: '🇮🇷 ';
        white-space: nowrap;
    }
    &-IL::before{
        content: '🇮🇱  ';
        white-space: nowrap;
    }
    &-NL::before{
        content: '🇳🇱 ';
        white-space: nowrap;
    }
    &-DE::before{
        content: '🇩🇪 ';
        white-space: nowrap;
    }
    &-IT::before{
        content: '🇮🇹 ';
        white-space: nowrap;
    }
    &-EU::before{
        content: '🇪🇺 ';
        white-space: nowrap;
    }
    &-BE::before{
        content: '🇧🇪 ';
        white-space: nowrap;
    }
    &-LU::before{
        content: '🇱🇺 ';
        white-space: nowrap;
    }
    &-BY::before{
        content: '🇧🇾 ';
        white-space: nowrap;
    }
    &-DK::before{
        content: '🇩🇰 ';
        white-space: nowrap;
    }
    &-IE::before{
        content: '🇮🇪 ';
        white-space: nowrap;
    }
    &-UK::before{
        content: '🇬🇧 ';
        white-space: nowrap;
    }
    &-GR::before{
        content: '🇬🇷 ';
        white-space: nowrap;
    }
    &-ES::before{
        content: '🇪🇸 ';
        white-space: nowrap;
    }
    &-PT::before{
        content: '🇵🇹 ';
        white-space: nowrap;
    }
    &-SE::before{
        content: '🇸🇪 ';
        white-space: nowrap;
    }
    &-UA::before{
        content: '🇺🇦 ';
        white-space: nowrap;
    }
    &-UN::before{
        content: '🇺🇳 ';
        white-space: nowrap;
    }
    &-x::before{
        content: 'x ';
        white-space: nowrap;
    }
    &-x::before{
        content: 'x ';
        white-space: nowrap;
    }
}