@use 'vars' as *;
@use 'icons';

//----------------------------------------------//
// Sections and banners
//----------------------------------------------//

section{
    width: $page-width;
    position: relative;
    left:calc(-1* $page-padding);
    margin-top: 1.25rem;
    padding: 1.25rem $page-padding;

    :first-child{
        margin-top: 0;
    }

    &.banner{
        padding: 0;
        display: block;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        &.-columns{
            column-gap: 0;
        }
    }
}
section + section, section + .banner{
    margin-top: 0;
}
.card > .banner{
    width: calc(100% + 1.25rem *2);
    left: -1.25rem;
}