@use 'vars' as *;

.outline{
    
    &-dark{
        border: 2px solid $dark;
    }

    &-dark-accent{
        border: 2px solid $dark-accent;
    }

    &-light{
        border: 2px solid $light;
    }

    &-light-accent{
        border: 2px solid $light-accent;
    }
}

.rounded{
    border-radius: $border-radius;
}