//Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    z-index:0;
    text-decoration: 0;
}

//----------------------------------------------//
// Global variables
//----------------------------------------------//

// Page
$page-padding:2.5cm;
$page-width:794px; 
$page-height:1122px; //normaly 1123 but this works better with firefox

$border-radius:.5rem;
$font-size:11pt;

// Colours--------------------------------------//
// ---Default
$dark: hsla(220, 50%, 16%, 1);              //old: hsla(222, 100%, 16%, 1)
$dark-accent: hsla(220, 100%, 30%, 1);      //old: hsla(212, 100%, 30%, 1)
$light:hsla(220, 100%, 90%, 1);             //old: hsla(212, 100%, 90%, 1)
$light-accent: #FFCC00;                     //old: #FFCC29 yellow

//#ff9100 orange //#FFCC29 yellow

// Parameters
$page-numbering: true;
$h1-numbering: true;
$heading-numbering: false;
$dark-mode: false;

//---Empty---//
// $dark:;
// $dark-accent:;
// $light:;
// $light-accent:;

// Test
// $dark: hsla(222, 50%, 17%, 1);               //#14203C
// $dark-accent: hsla(212, 100%, 30%, 1);      //old: #00579C hsla(207, 100%, 31%, 1)
// $light:hsla(212, 100%, 90%, 1);
// $light-accent: #FFCC29 ;

// $dark: hsla(212, 50%, 17%, 1);               //#14203C
// $dark-accent: hsla(212, 100%, 30%, 1);      //old: #00579C hsla(207, 100%, 31%, 1)
// $light:hsla(212, 100%, 90%, 1);
// $light-accent: hsla(70 , 100%, 70%, 1) ;