body{
    padding: 5vh 0;
}
.A4{
    width: min(100%, 796px);
    margin: .5cm auto;
}

.stop>:first-child, .dag > :first-child, .final > :first-child{
    margin-top: 0;
}
aside{
    position: absolute;
    top: 0rem;
    left: 1rem;
    font-size: 0.8rem;
    text-align: center;
    padding: 0 0 2rem 0;
}
a{
    text-underline-offset: 1px;
}

@media screen and (max-width:900px){
    :root{
        --background-color: var(--text-white)
    }
    body{
        & .A4,.A4-nonum{
            width: 100%;
            margin: 0 0 !important;
            box-shadow: none;
            height: max-content;
            padding: 5vw;
        }

    }
}
@media screen and (max-width:600px){
    .route{
        & .A4,.A4-nonum{
            width: 100%;
            /* margin: 0 0 !important; */
            box-shadow: none;
            height: max-content;
            padding: 5vw;
        }
        & .stop, .dag, .final{
            padding-left: 1.5rem;
        }
        & .H1, h1{
            font-size: 2rem;
        }
        & .H2, h2{
            font-size: 1.5rem;
        }
        & aside{
            display: none;
        }
        & .picture-gallery{
            flex-direction: column;
    
            & div{
                max-height: 10rem;
            }
        }
    }
}
#nav{
    position: absolute;
    top: 0;
    left: 5vw;
    background-color: var(--dark-accent);
    padding: .5em;
    border-radius: 0 0 .5em .5em;
    color: var(--text-white); 
    text-decoration: none;

    & .GI{
        display: inline-block; 
        background-color: var(--light); 
        width: 1.2em;
        text-align: center;
        border-radius: 50%;
        color: var(--dark-accent);
    }
}