body{
    padding: 2rem;
    & a{
        text-decoration: none;
    }
}
nav {
    display: flex;
    align-items:center;
    gap: 2rem;

    & img{
        max-height: 5rem;
    }
}
main{
    display: grid;
    padding-block: 2rem;
}
article{
    border: 2px solid var(--dark-accent);
    border-radius: .5rem;
    padding: 0 2rem 1rem 2rem;
}