*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-black)
}

:root{
    color-scheme: light dark;

    /* General */
    /* font-size:11pt; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: 0;
    --list-margin: 1.5rem;
    --list-padding: 0.5em;

    /* Page setup */
    --page-padding:     2.5cm;
    --page-width:       794px; 
    --page-height:      1122px; 
    --border-radius:    .5rem;

    /* Colours */
    --w: white;
    --g: #1b1b1b;

    --text-white: light-dark(white,black);
    --text-black: light-dark(black,white);

    /* --dark:             light-dark( hsla(220,  50%, 16%,   1), hsla(220, 100%, 90%,   1)); 
    --dark-t:           light-dark( hsla(220,  50%, 16%,   1), hsla(220, 100%, 89%, 90%));
    --dark-accent:      light-dark( hsla(220, 100%, 30%,   1), hsla(220, 100%, 70%,   1));
    --light:            light-dark( hsla(220, 100%, 90%,   1), hsla(220, 100%, 30%,   1));
    --light-t:          light-dark( hsla(220, 100%, 89%, 90%), hsla(220,  50%, 16%,   1));
    --light-accent:     light-dark( hsla( 48, 100%, 50%,   1), hsla( 48, 100%, 50%,   1)); */

    --dark:             light-dark( oklch(0.255 0.055 263.0), oklch(0.896 0.050 264.3)); 
    --dark-t:           light-dark( oklch(0.255 0.055 263.0), oklch(0.885 0.056 264.2 / 0.900));
    --dark-accent:      light-dark( oklch(0.371 0.173 262.1), oklch(0.694 0.160 262.9));
    --light:            light-dark( oklch(0.896 0.050 264.3), oklch(0.371 0.173 262.1));
    --light-t:          light-dark( oklch(0.885 0.056 264.2 / 0.900), oklch(0.255 0.055 263.0));
    --light-accent:     light-dark( oklch(0.865 0.177 90.4), oklch(0.865 0.177 90.4));

    --green:                        hsla(140, 100%, 30%);
    --green-dark:       light-dark( hsla(140,  50%, 30%), hsla(140, 100%, 90%));
    --green-light:      light-dark( hsla(140, 100%, 90%), hsla(140, 50% , 30%));

    --red:                          hsla(  0, 100%, 30%);
    --red-dark:         light-dark( hsla(  0,  50%, 30%), hsla(  0, 100%, 90%));
    --red-light:        light-dark( hsla(  0, 100%, 90%), hsla(  0,  50%, 30%));
    --background-color: light-dark( white, #1b1b1b);

    --green-1: hsla(140, 100%, 15%,   1);
    --green-2: hsla(140, 100%, 30%,   1);
    --green-3: hsla(140, 100%, 45%,   1);
    --green-4: hsla(140, 100%, 60%,   1);
    --green-5: hsla(140, 100%, 75%,   1);
    --green-6: hsla(140, 100%, 90%,   1);

    --red-1:   hsla(  0, 100%, 15%,  1);
    --red-2:   hsla(  0, 100%, 30%,  1);
    --red-3:   hsla(  0, 100%, 45%,  1);
    --red-4:   hsla(  0, 100%, 60%,  1);
    --red-5:   hsla(  0, 100%, 75%,  1);
    --red-6:   hsla(  0, 100%, 90%,  1);


    --color-1: oklch(0.100 0.046 262.0);
    --color-2: oklch(0.200 0.092 262.0);
    --color-3: oklch(0.300 0.139 262.0);
    --color-4: oklch(0.400 0.185 262.0);
    --color-5: oklch(0.500 0.231 262.0);
    --color-6: oklch(0.600 0.217 262.0);
    --color-7: oklch(0.700 0.157 262.0);
    --color-8: oklch(0.800 0.101 262.0);
    --color-9: oklch(0.900 0.048 262.0);

    --color-1-t: oklch(0.105 0.052 262.0 / 90%);
    --color-2-t: oklch(0.200 0.103 262.0 / 90%);
    --color-3-t: oklch(0.300 0.156 262.0 / 90%);
    --color-4-t: oklch(0.400 0.207 262.0 / 90%);
    --color-5-t: oklch(0.460 0.259 262.0 / 90%);
    --color-6-t: oklch(0.572 0.243 262.0 / 90%);
    --color-7-t: oklch(0.675 0.176 262.0 / 90%);
    --color-8-t: oklch(0.775 0.113 262.0 / 90%);
    --color-9-t: oklch(0.885 0.053 262.0 / 90%);
}