*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-black)
}

:root{
    color-scheme: light dark;

    /* General */
    /* font-size:11pt; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: 0;
    --list-margin: 1.5rem;
    --list-padding: 0.5em;

    /* Page setup */
    --page-padding:     2.5cm;
    --page-width:       794px; 
    --page-height:      1122px; 
    --border-radius:    .5rem;

    /* Colours */
    --w: white;
    --g: #1b1b1b;

    --text-white: light-dark(white,black);
    --text-black: light-dark(black,white);

    --dark:             light-dark( hsla(220,  50%, 16%,   1), hsla(220, 100%, 90%,   1)); 
    --dark-t:           light-dark( hsla(220,  50%, 16%,   1), hsla(220, 100%, 89%, 90%));
    --dark-accent:      light-dark( hsla(220, 100%, 30%,   1), hsla(220, 100%, 70%,   1));
    --light:            light-dark( hsla(220, 100%, 90%,   1), hsla(220, 100%, 30%,   1));
    --light-t:          light-dark( hsla(220, 100%, 89%, 90%), hsla(220,  50%, 16%,   1));
    --light-accent:     light-dark( hsla( 48, 100%, 50%,   1), hsla( 48, 100%, 50%,   1));

    --green:                        hsla(140, 100%, 30%);
    --green-dark:       light-dark( hsla(140,  50%, 30%), hsla(140, 100%, 90%));
    --green-light:      light-dark( hsla(140, 100%, 90%), hsla(140, 50% , 30%));

    --red:                          hsla(  0, 100%, 30%);
    --red-dark:         light-dark( hsla(  0,  50%, 30%), hsla(  0, 100%, 90%));
    --red-light:        light-dark( hsla(  0, 100%, 90%), hsla(  0,  50%, 30%));
    --background-color: light-dark( white, #1b1b1b);

    --blue-1:  hsla(220, 100%, 15%,   1);
    --blue-2:  hsla(220, 100%, 30%,   1);
    --blue-3:  hsla(220, 100%, 45%,   1);
    --blue-4:  hsla(220, 100%, 60%,   1);
    --blue-5:  hsla(220, 100%, 75%,   1);
    --blue-6:  hsla(220, 100%, 90%,   1);

    --green-1: hsla(140, 100%, 15%,   1);
    --green-2: hsla(140, 100%, 30%,   1);
    --green-3: hsla(140, 100%, 45%,   1);
    --green-4: hsla(140, 100%, 60%,   1);
    --green-5: hsla(140, 100%, 75%,   1);
    --green-6: hsla(140, 100%, 90%,   1);

    --red-1:   hsla(  0, 100%, 15%,  1);
    --red-2:   hsla(  0, 100%, 30%,  1);
    --red-3:   hsla(  0, 100%, 45%,  1);
    --red-4:   hsla(  0, 100%, 60%,  1);
    --red-5:   hsla(  0, 100%, 75%,  1);
    --red-6:   hsla(  0, 100%, 90%,  1);
}