*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, .T-default{
    /* General */
    /* font-size:11pt; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: 0;

    /* Page setup */
    --page-padding:     2.5cm;
    --page-width:       794px; 
    --page-height:      1122px; 
    --border-radius:    .5rem;

    /* Colours */
    --w: white;
    --b: black;

    --dark:         hsla(220, 50%, 16%, 1); 
    --dark-t:       hsla(220, 50%, 16%, 1);
    --dark-accent:  hsla(220, 100%, 30%, 1);
    --light:        hsla(220, 100%, 90%, 1);
    --light-t:      hsla(220, 100%, 89%,90%);
    --light-accent: #FFCC00;

    --green:        hsla(140deg, 100%,30%);
    --green-dark:   hsla(140deg, 50%,30%);
    --green-light:  hsla(140deg, 100%,90%);

    --red:          hsla(0deg, 100%,30%);
    --red-dark:     hsla(0deg, 50%,30%);
    --red-light:    hsla(0deg, 100%,90%);
    --background-color: white;
}