body{
    background-color: var(--background-color);
}
.dark{
    --text-white:   black;
    --text-black:   white;
    --w:            hsla(220, 50%, 16%, 1);
    --dark:         hsla(220, 100%, 90%, 1);
    --dark-t:       hsla(220, 100%, 89%,90%);             
    --dark-accent:  hsla(220, 100%, 70%, 1);
    --light:        hsla(220, 100%, 30%, 1);
    --light-t:      hsla(220, 100%, 89%,90%);
    --light-accent: #FFCC00;
    --background-color: hsla(220, 50%, 16%, 1);
    background-color: hsla(220, 50%, 16%, 1);
}
.light{
    --text-white:   white;
    --text-black:   black;
    --g:            black;
    --w:            hsla(220, 100%, 90%, 1);
    --dark:         hsla(220, 50%, 16%, 1);
    --dark-t:       hsla(220, 100%, 89%,90%);             
    --dark-accent:  hsla(220, 100%, 30%, 1);
    --light:        hsla(220, 100%, 30%, 1);
    --light-t:      hsla(220, 100%, 89%,90%);
    --light-accent: hsla(48, 100%, 50%, 1);
    --background-color:hsla(220, 100%, 90%, 1);
    background-color:hsla(220, 100%, 90%, 1);
}
.dark-accent{
    --text-white:   black;
    --text-black:   white;
    --g:            black;
    --w:            hsla(220, 100%, 90%, 1);
    --dark:         hsla(220, 100%, 90%, 1);
    --dark-t:       hsla(220, 100%, 89%,90%);             
    --dark-accent:  hsla(220, 100%, 90%, 1);
    --light:        hsla(220, 100%, 30%, 1);
    --light-t:      hsla(220, 100%, 89%,90%);
    --light-accent: #FFCC00;
    --background-color:hsla(220, 100%, 30%, 1);
    background-color:hsla(220, 100%, 30%, 1);
}