/* ----------------------------------------------
 A4 page setup .F numbering
---------------------------------------------- */
.A4, .A4-nonum {
    width: var(--page-width);
    height: var(--page-height);
    position: relative;
    padding: var(--page-padding);
    overflow: hidden;
    margin: .5cm auto;
    background-color: var(--background-color);
    box-shadow: 0 0 5px 0 grey;

    & header, footer{
        position: absolute;
        height: var(--page-padding);
        width: 100%;
        padding: 1cm;
    }
    & footer{
        bottom: 0;
        left: 0;
    }
    & header{
        top: 0;
        left: 0;
    }
}
.A4 > :first-child, .A4-nonum > :first-child{
    margin-top: 0;
}
.landscape{
    width: var(--page-height);
    height: var(--page-width);
}
body{
    background-color: darkgray;
}
@media print {
    .A4, .A4-nonum{
        margin: 0;
        box-shadow: none;
    }
}
