/* ----------------------------------------------
 Sections and banners
---------------------------------------------- */

.A4 > section, .A4-nonum > section{
    width: var(--page-width);
    position: relative;
    left:calc(-1* var(--page-padding));
    margin-top: 1.25rem;
    padding: 1.25rem var(--page-padding);

    & :first-child{
        margin-top: 0;
    }

    &.banner{
        padding: 0;
        display: block;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        &.-columns{
            column-gap: 0;
        }
    }
    div{
        position: absolute; 
        top: .75rem; 
        left: var(--page-padding);
    }
}
section + section, section + .banner{
    margin-top: 0;
}
.card > .banner{
    width: calc(100% + 1.25rem *2);
    left: -1.25rem;
}