.outline{
    
    &-dark{
        border: 2px solid var(--dark);
    }

    &-dark-accent{
        border: 2px solid var(--dark-accent);
    }

    &-light{
        border: 2px solid var(--light);
    }

    &-light-accent{
        border: 2px solid var(--light-accent);
    }
}

.rounded{
    border-radius: var(--border-radius);
}
/* for grid */
.-columns, ._columns { 
    position: relative;
    margin-top: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        display: inline-block;
    }

    &.__l:after{
        content: '';
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        border-left: dotted var(--dark-accent) 2px;
        height: 100%;
    }
    p{
        margin-top: 0;
    }
}
/* for paragrapghs */
.t-columns, .columns{ 
    columns: 2;
    column-gap: 1em;  
    
    &.__l {
        column-rule: dotted var(--dark-accent) 2px;
    }
    & :first-child{
        margin-top: 0;
    }
}
.bg-green{
    background-color: hsl(99, 55%, 58%);
}
.bg-light{
    background-color: var(--light);
}
.bg-light-accent{
    background-color: var(--light-accent);
}
.shadow{
    box-shadow: 1px 1px .5rem -1px black;
}
.no-marker{
    list-style-type: none;
}
.hide, .display, .display-none{
    display: none !important;
}
.indent{
    padding-left: 1.25rem;

    &.__l{
        border-left: dotted var(--dark-accent) 2px;
    }
}
.red{
    color: red;
}
.green{
    color: green;
}