/* *{
    border: 1px dotted red;
} */
h1{
    margin: 2rem 0;
}
main{
    width: min(95vw, 900px);
    margin: auto;
}
#links{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    gap: 2.5rem;
    margin: 0 auto;
    justify-content: center;
}
.circle{
    background-color: var(--dark-accent);
    border-radius: 50%;
    container-type: inline-size;
    position: relative;
    text-align: center;
    color: var(--light);

    &:hover{
        box-shadow: 0 0 .5em var(--light-t);
        transition: all linear .1s;
    }
    & h3{
        text-align: center;
        position: absolute;
        bottom: -1.5rem;
        width: 100%;
    }
    & .GI{
        font-size: 50cqw;
        text-align: center;
        position: absolute;
        top:25cqw;
        left:25cqw;
        color: var(--light);
    }
    & img, svg{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        max-height: 50cqw;
        max-width: 50cqw;
        aspect-ratio: 1;
    }
}

.circle > svg#logo-svg{
    position: absolute;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 60cqw ;
    width:  60cqw;
    max-width: 60cqw;
    max-height: 60cqw;
    aspect-ratio: 1;
}
.subgrid{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    align-content: space-evenly;
    justify-content: space-evenly;
}
#logo-svg {
    fill:transparent;
    object-fit:fill;
    animation: fill 0.5s ease-out 1s;
    animation-fill-mode:forwards;
}

#logo-svg path {
    stroke-dasharray: 5000px;
    stroke-dashoffset: 5000px;
    animation: lines-anim 1s ease;
    animation-fill-mode: forwards;
}
@keyframes lines-anim{
    to {
        stroke-dashoffset:0;
    }
}
@keyframes fill {
    to {
        fill: #FFCC29;
    }
}