@use 'Stylegroups/vars' as *;

@use 'Stylegroups/colours';
@use 'Stylegroups/icons';
@use 'Stylegroups/page';
@use 'Stylegroups/sections';
@use 'Stylegroups/text';
@use 'Stylegroups/elements';
@use 'Stylegroups/counters';
@use 'Stylegroups/workenvironment';
@use 'Stylegroups/tables';
@use 'Stylegroups/utils';
@use 'Stylegroups/__timeline';
@use 'Stylegroups/__CV';

:root{
    font-size: $font-size;
}

//----------------------------------------------//
// specific elements
//----------------------------------------------//
.legend{
    a{
        display: block;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .H3{
        color: black;
        font-weight: 400;
    }
}