@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

:root {
  --dark: $dark;
  --dark-accent:$dark-accent;
  --light:$light;
  --light-accent:$light-accent;
  --green:$green;
  --green-dark:$green-dark;
  --green-light:$green-light;
  --red:$red;
  --red-light:$red-light;
  --red-dark:$red-dark;
}

.GI {
  font-family: "Material Icons";
  font-size: 1.2em;
  line-height: 0em;
  position: relative;
  top: 0.15em;
}

.I-done::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "done";
  color: green;
}
.I-close::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "close";
  color: red;
}
.I-h-rule::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "horizontal_rule";
  color: orange;
}
.I-flag::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "outlined_flag";
}
.I-flag-fill::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "flag";
}
.I-done-all::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "done_all";
  color: green;
}
.I-priority::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "priority_high";
  color: red;
}
.I-quote::before, q::before, blockquote::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "format_quote";
}
.I-groups::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "groups";
}
.I-location::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "location_on";
}
.I-music::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "music_note";
}
.I-date::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "event";
}
.I-movie::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "live_tv";
}
.I-lamp::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "emoji_objects";
}
.I-earth::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "Public";
}
.I-document::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "Document";
}
.I-question::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "Question_mark";
}
.I-history::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "history";
}
.I-education::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "history_edu";
}
.I-interests::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "interests";
}
.I-code::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "code";
}
.I-engineering::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "engineering";
}
.I-book::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "auto_stories";
}
.I-person::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "person";
}
.I-task::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "task_alt";
}
.I-hotel::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "hotel";
}
.I-train::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "train";
}
.I-flight::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "flight";
}
.I-walk::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "directions_walk";
}
.I-bike::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "directions_bike";
}
.I-golf::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "golf_course";
}
.I-plane::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "flight";
}
.I-food::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "restaurant";
}
.I-cafe::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "local_cafe";
}
.I-bar::before {
  display: inline;
  inset-inline-start: -1.25em;
  inset-block-start: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: hsl(220, 100%, 30%);
  line-height: 1.2em;
  text-transform: lowercase;
  content: "local_bar";
}
.I-bar, .I-cafe, .I-food, .I-plane, .I-golf, .I-bike, .I-walk, .I-flight, .I-train, .I-hotel, .I-task, .I-person, .I-book, .I-done, .I-done-all, .I-close, .I-h-rule, .I-flag, .I-flag-fill, .I-priority, .I-quote, q, blockquote, .I-groups, .I-location, .I-music, .I-date, .I-movie, .I-lamp, .I-earth, .I-document, .I-question, .I-history, .I-education, .I-engineering, .I-code, .I-interests {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin-inline-start: 1.25rem;
}
.I-barli, .I-cafeli, .I-foodli, .I-planeli, .I-golfli, .I-bikeli, .I-walkli, .I-flightli, .I-trainli, .I-hotelli, .I-taskli, .I-personli, .I-bookli, .I-doneli, .I-done-allli, .I-closeli, .I-h-ruleli, .I-flagli, .I-flag-fillli, .I-priorityli, .I-quoteli, .I-groupsli, .I-locationli, .I-musicli, .I-dateli, .I-movieli, .I-lampli, .I-earthli, .I-documentli, .I-questionli, .I-historyli, .I-questionli, .I-educationli, .I-engineeringli, .I-codeli, .I-interestsli {
  margin-left: 0;
}
.I-bar.I-big, .I-cafe.I-big, .I-food.I-big, .I-plane.I-big, .I-golf.I-big, .I-bike.I-big, .I-walk.I-big, .I-flight.I-big, .I-train.I-big, .I-hotel.I-big, .I-task.I-big, .I-person.I-big, .I-book.I-big, .I-done.I-big, .I-done-all.I-big, .I-close.I-big, .I-h-rule.I-big, .I-flag.I-big, .I-flag-fill.I-big, .I-priority.I-big, .I-quote.I-big, q.I-big, blockquote.I-big, .I-groups.I-big, .I-location.I-big, .I-music.I-big, .I-date.I-big, .I-movie.I-big, .I-lamp.I-big, .I-earth.I-big, .I-document.I-big, .I-question.I-big, .I-history.I-big, .I-education.I-big, .I-engineering.I-big, .I-code.I-big, .I-interests.I-big {
  padding-left: 3rem;
  margin-bottom: 2.5rem;
  line-height: 1;
}
.I-bar.I-big::before, .I-cafe.I-big::before, .I-food.I-big::before, .I-plane.I-big::before, .I-golf.I-big::before, .I-bike.I-big::before, .I-walk.I-big::before, .I-flight.I-big::before, .I-train.I-big::before, .I-hotel.I-big::before, .I-task.I-big::before, .I-person.I-big::before, .I-book.I-big::before, .I-done.I-big::before, .I-done-all.I-big::before, .I-close.I-big::before, .I-h-rule.I-big::before, .I-flag.I-big::before, .I-flag-fill.I-big::before, .I-priority.I-big::before, .I-quote.I-big::before, q.I-big::before, blockquote.I-big::before, .I-groups.I-big::before, .I-location.I-big::before, .I-music.I-big::before, .I-date.I-big::before, .I-movie.I-big::before, .I-lamp.I-big::before, .I-earth.I-big::before, .I-document.I-big::before, .I-question.I-big::before, .I-history.I-big::before, .I-education.I-big::before, .I-engineering.I-big::before, .I-code.I-big::before, .I-interests.I-big::before {
  font-size: 2.5rem;
  line-height: 2.5rem;
  left: 0;
  top: 0;
}
.I-bar.I-right, .I-cafe.I-right, .I-food.I-right, .I-plane.I-right, .I-golf.I-right, .I-bike.I-right, .I-walk.I-right, .I-flight.I-right, .I-train.I-right, .I-hotel.I-right, .I-task.I-right, .I-person.I-right, .I-book.I-right, .I-done.I-right, .I-done-all.I-right, .I-close.I-right, .I-h-rule.I-right, .I-flag.I-right, .I-flag-fill.I-right, .I-priority.I-right, .I-quote.I-right, q.I-right, blockquote.I-right, .I-groups.I-right, .I-location.I-right, .I-music.I-right, .I-date.I-right, .I-movie.I-right, .I-lamp.I-right, .I-earth.I-right, .I-document.I-right, .I-question.I-right, .I-history.I-right, .I-education.I-right, .I-engineering.I-right, .I-code.I-right, .I-interests.I-right {
  padding-left: 0;
  padding-right: 1.2rem;
}
.I-bar.I-right::before, .I-cafe.I-right::before, .I-food.I-right::before, .I-plane.I-right::before, .I-golf.I-right::before, .I-bike.I-right::before, .I-walk.I-right::before, .I-flight.I-right::before, .I-train.I-right::before, .I-hotel.I-right::before, .I-task.I-right::before, .I-person.I-right::before, .I-book.I-right::before, .I-done.I-right::before, .I-done-all.I-right::before, .I-close.I-right::before, .I-h-rule.I-right::before, .I-flag.I-right::before, .I-flag-fill.I-right::before, .I-priority.I-right::before, .I-quote.I-right::before, q.I-right::before, blockquote.I-right::before, .I-groups.I-right::before, .I-location.I-right::before, .I-music.I-right::before, .I-date.I-right::before, .I-movie.I-right::before, .I-lamp.I-right::before, .I-earth.I-right::before, .I-document.I-right::before, .I-question.I-right::before, .I-history.I-right::before, .I-education.I-right::before, .I-engineering.I-right::before, .I-code.I-right::before, .I-interests.I-right::before {
  right: 0;
}
.I-bar.tag, .I-cafe.tag, .I-food.tag, .I-plane.tag, .I-golf.tag, .I-bike.tag, .I-walk.tag, .I-flight.tag, .I-train.tag, .I-hotel.tag, .I-task.tag, .I-person.tag, .I-book.tag, .I-done.tag, .I-done-all.tag, .I-close.tag, .I-h-rule.tag, .I-flag.tag, .I-flag-fill.tag, .I-priority.tag, .I-quote.tag, q.tag, blockquote.tag, .I-groups.tag, .I-location.tag, .I-music.tag, .I-date.tag, .I-movie.tag, .I-lamp.tag, .I-earth.tag, .I-document.tag, .I-question.tag, .I-history.tag, .I-education.tag, .I-engineering.tag, .I-code.tag, .I-interests.tag {
  padding-left: 1.25rem;
}
.I-bar.tag::before, .I-cafe.tag::before, .I-food.tag::before, .I-plane.tag::before, .I-golf.tag::before, .I-bike.tag::before, .I-walk.tag::before, .I-flight.tag::before, .I-train.tag::before, .I-hotel.tag::before, .I-task.tag::before, .I-person.tag::before, .I-book.tag::before, .I-done.tag::before, .I-done-all.tag::before, .I-close.tag::before, .I-h-rule.tag::before, .I-flag.tag::before, .I-flag-fill.tag::before, .I-priority.tag::before, .I-quote.tag::before, q.tag::before, blockquote.tag::before, .I-groups.tag::before, .I-location.tag::before, .I-music.tag::before, .I-date.tag::before, .I-movie.tag::before, .I-lamp.tag::before, .I-earth.tag::before, .I-document.tag::before, .I-question.tag::before, .I-history.tag::before, .I-education.tag::before, .I-engineering.tag::before, .I-code.tag::before, .I-interests.tag::before {
  left: 0.35rem;
  top: 50%;
  transform: translateY(-50%);
}

.I-dark::before {
  color: hsl(220, 50%, 16%);
}

.I-light::before {
  color: hsl(220, 100%, 90%);
}

.I-dark-accent::before {
  color: hsl(220, 100%, 30%);
}

.I-light-accent::before {
  color: #FFCC00;
}

.I-list {
  margin-left: 0;
}

.F-RU::before {
  content: "🇷🇺 ";
  white-space: nowrap;
}
.F-FR::before {
  content: "🇫🇷 ";
  white-space: nowrap;
}
.F-PL::before {
  content: "🇵🇱 ";
  white-space: nowrap;
}
.F-IR::before {
  content: "🇮🇷 ";
  white-space: nowrap;
}
.F-IL::before {
  content: "🇮🇱  ";
  white-space: nowrap;
}
.F-NL::before {
  content: "🇳🇱 ";
  white-space: nowrap;
}
.F-DE::before {
  content: "🇩🇪 ";
  white-space: nowrap;
}
.F-IT::before {
  content: "🇮🇹 ";
  white-space: nowrap;
}
.F-EU::before {
  content: "🇪🇺 ";
  white-space: nowrap;
}
.F-BE::before {
  content: "🇧🇪 ";
  white-space: nowrap;
}
.F-LU::before {
  content: "🇱🇺 ";
  white-space: nowrap;
}
.F-BY::before {
  content: "🇧🇾 ";
  white-space: nowrap;
}
.F-DK::before {
  content: "🇩🇰 ";
  white-space: nowrap;
}
.F-IE::before {
  content: "🇮🇪 ";
  white-space: nowrap;
}
.F-UK::before {
  content: "🇬🇧 ";
  white-space: nowrap;
}
.F-GR::before {
  content: "🇬🇷 ";
  white-space: nowrap;
}
.F-ES::before {
  content: "🇪🇸 ";
  white-space: nowrap;
}
.F-PT::before {
  content: "🇵🇹 ";
  white-space: nowrap;
}
.F-SE::before {
  content: "🇸🇪 ";
  white-space: nowrap;
}
.F-UA::before {
  content: "🇺🇦 ";
  white-space: nowrap;
}
.F-UN::before {
  content: "🇺🇳 ";
  white-space: nowrap;
}
.F-x::before {
  content: "x ";
  white-space: nowrap;
}
.F-x::before {
  content: "x ";
  white-space: nowrap;
}

.A4, .A4-nonum {
  width: 794px;
  height: 1122px;
  position: relative;
  background-color: white;
  padding: 2.5cm;
  overflow: hidden;
}

.A4 > :first-child, .A4-nonum > :first-child {
  margin-top: 0;
}

.landscape {
  width: 1122px;
  height: 794px;
}

section {
  width: 794px;
  position: relative;
  left: -2.5cm;
  margin-top: 1.25rem;
  padding: 1.25rem 2.5cm;
}
section :first-child {
  margin-top: 0;
}
section.banner {
  padding: 0;
  display: block;
}
section.banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.banner.-columns {
  -moz-column-gap: 0;
       column-gap: 0;
}

section + section, section + .banner {
  margin-top: 0;
}

.card > .banner {
  width: calc(100% + 2.5rem);
  left: -1.25rem;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.7em;
  border-radius: 1em;
  color: black;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0.5rem 0rem 0rem 0;
  line-height: 1rem;
  border: 1.5px solid hsl(220, 100%, 30%);
  background-color: white;
}
.tag.theme-green {
  border-color: hsl(140, 100%, 30%);
  background-color: hsl(140, 100%, 90%);
  color: black;
}
.tag.theme-red {
  border-color: hsl(0, 100%, 30%);
  background-color: hsl(0, 100%, 90%);
  color: black;
}
.tag.dark {
  background-color: hsl(220, 50%, 16%);
}
.tag.dark::before {
  color: hsl(220, 100%, 90%);
}
.tag.dark-accent {
  background-color: hsl(220, 100%, 30%);
}
.tag.dark-accent::before {
  color: hsl(220, 100%, 90%);
}

.card, .I-card, blockquote {
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0;
  position: relative;
}
.card :first-child, .I-card :first-child, blockquote :first-child {
  margin-top: 0;
}

.I-card, blockquote {
  padding: 1.25rem 4rem;
  min-height: 3rem;
}
.I-card::before, blockquote::before {
  font-size: 3rem;
  left: 0.5rem;
  top: 0.25rem;
}

figure, .picture {
  margin-top: 0.75rem;
  float: right;
  float: inline-end;
  width: calc(50% - 0.5rem);
  margin-left: 1rem;
  position: relative;
  transform: translateY(3px);
}
figure figcaption, .picture figcaption {
  color: hsl(220, 100%, 30%);
  font-style: italic;
}
figure img, .picture img {
  display: block;
}
figure.__l::after, .picture.__l::after {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5rem;
  transform: translate(-50%);
  border-left: dotted hsl(220, 100%, 30%) 2px;
  height: 100%;
}
figure img, .picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-block;
}

.picture-gallery, .img-gallery, .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
  margin: 0.75rem 0 0 0;
}
.picture-gallery div, .img-gallery div, .gallery div {
  min-height: 100%;
}
.picture-gallery div img, .img-gallery div img, .gallery div img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-block;
}

.picture-gallery + .picture-gallery {
  margin-top: 1rem;
}

aside {
  position: absolute;
  left: 0.5cm;
  max-width: 2cm;
  height: auto;
  max-height: 10cm;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

h1, .H1 {
  color: hsl(220, 50%, 16%);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  position: relative;
}

h2, .H2 {
  margin-top: 1.25rem;
  color: hsl(220, 100%, 30%);
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid hsl(220, 100%, 90%);
}

h3, .H3 {
  margin-top: 1rem;
  color: hsl(220, 100%, 30%);
  font-size: 1rem;
  font-weight: 600;
}

h4, .H4 {
  margin-top: 0.75rem;
  color: hsl(220, 100%, 30%);
  font-size: 1rem;
  font-weight: 400;
}

p, ol, ul {
  margin: 0.75rem 0 0 0;
  text-align: justify;
  color: black;
}

h1 + p, h2 + p, h3 + p, h4 + p,
h2 + ul, h2 + ol, h3 + ul, h3 + ol, h4 + ul, h4 + ol,
h1 + figure + p, h2 + figure + p, h3 + figure + p, h4 + figure + p,
h1 + p, h2 + p, h3 + p, h4 + p h1 + figure,
h2 + figure, h3 + figure, h4 + figure,
.H1 + p, .H2 + p, .H3 + p, .H4 + p {
  margin-top: 0.25rem;
}

u {
  -webkit-text-decoration: underline solid 1px hsl(220, 100%, 30%);
          text-decoration: underline solid 1px hsl(220, 100%, 30%);
}
u.dotted {
  -webkit-text-decoration: underline dotted 1px hsl(220, 100%, 30%);
          text-decoration: underline dotted 1px hsl(220, 100%, 30%);
}

b, strong {
  font-weight: 500;
  color: hsl(220, 100%, 30%);
}

em {
  font-style: normal;
  background-color: rgb(255, 234, 0);
  border-radius: 2px;
  padding: 0 0.25em;
}

q {
  padding: 0 0.8em;
}
q::before {
  position: absolute;
  font-size: 0.75em;
  transform: scaleX(-1);
}
q::after {
  font-size: 0.75em;
  position: absolute;
  font-family: "Material Icons";
  content: "format_quote";
  color: hsl(220, 100%, 30%);
}

a {
  color: hsl(220, 50%, 16%);
  -webkit-text-decoration: underline dotted 1px hsl(220, 100%, 30%);
          text-decoration: underline dotted 1px hsl(220, 100%, 30%);
}

.small {
  font-size: 0.8em;
}

.strike {
  text-decoration: line-through;
}

small {
  font-size: 0.8em;
}

ul, ol {
  list-style-position: outside;
}
ul li, ol li {
  margin-left: 1.25rem;
}

ul + li, ol + li {
  margin-top: 0.2rem;
}

ul > ul, ol > ol, ol > ul, ul > ol {
  list-style-position: outside;
  margin-left: 1.25rem;
  font-size: 0.8em;
  margin-top: 0;
}

.li-small > li {
  font-size: 0.8em;
}

blockquote {
  text-align: justify;
}
blockquote cite {
  display: block;
  text-align: right;
}

.col-2 {
  -moz-columns: 2;
       columns: 2;
}

.dark > .light, .light {
  background-color: hsl(220, 100%, 90%);
  color: black;
}
.dark > .light h1, .dark > .light .H1, .light h1, .light .H1 {
  color: hsl(220, 50%, 16%);
}
.dark > .light h2, .dark > .light .H2, .light h2, .light .H2 {
  color: hsl(220, 100%, 30%);
  border-bottom: 2px dotted hsl(220, 100%, 30%);
}
.dark > .light h3, .dark > .light .H3, .light h3, .light .H3 {
  color: hsl(220, 100%, 30%);
}
.dark > .light.-grad, .light.-grad {
  background: linear-gradient(45deg, #6699ff, hsl(220, 100%, 90%));
}

.dark {
  background-color: hsl(220, 50%, 16%);
  color: white;
}
.dark h1, .dark .H1, .dark p, .dark li, .dark ul, .dark ol, .dark u, .dark i {
  color: white;
}
.dark h1::before {
  color: hsl(220, 100%, 90%);
  z-index: -1;
}
.dark b {
  color: #FFCC00;
}
.dark h2, .dark .H2 {
  color: #FFCC00;
  border-bottom: 2px solid hsl(220, 100%, 90%);
}
.dark h3, .dark .H3 {
  color: hsl(220, 100%, 90%);
}
.dark.quote p::before {
  color: hsl(220, 100%, 90%);
}
.dark.quote i {
  color: hsl(220, 100%, 90%);
}
.dark.-grad {
  background: linear-gradient(45deg, hsl(220, 50%, 16%), hsl(220, 50%, 16%), hsl(220, 100%, 30%));
}

.dark-accent {
  background-color: hsl(220, 100%, 30%);
  color: white;
}
.dark-accent h1, .dark-accent .H1, .dark-accent p, .dark-accent li, .dark-accent ul, .dark-accent ol, .dark-accent u, .dark-accent i {
  color: white;
}
.dark-accent h1::before {
  color: hsl(220, 100%, 90%);
  z-index: -1;
}
.dark-accent b {
  color: hsl(220, 100%, 90%);
}
.dark-accent h2, .dark-accent .H2 {
  color: #FFCC00;
  border-bottom: 2px solid hsl(220, 100%, 90%);
}
.dark-accent h3, .dark-accent .H3 {
  color: hsl(220, 100%, 90%);
}
.dark-accent.-grad {
  background: linear-gradient(-45deg, hsl(220, 100%, 90%), hsl(220, 100%, 30%), hsl(220, 100%, 30%));
}

.light-accent {
  background-color: #FFCC00;
  color: hsl(220, 50%, 16%);
}
.light-accent h1, .light-accent .H1, .light-accent p, .light-accent li, .light-accent ul, .light-accent ol, .light-accent u, .light-accent i {
  color: hsl(220, 50%, 16%);
}
.light-accent h2, .light-accent .H2, .light-accent .GI {
  color: hsl(220, 100%, 30%);
}

.t-dark {
  color: hsl(220, 50%, 16%);
}

.t-light {
  color: hsl(220, 100%, 90%);
}

.t-dark-accent {
  color: hsl(220, 100%, 30%);
}

.t-light-accent {
  color: #FFCC00;
}

.A4:first-of-type {
  counter-set: p 0;
}

.A4 {
  counter-increment: p;
}
.A4::after {
  content: counter(p);
  background-color: hsl(220, 100%, 30%);
  color: white;
  border-radius: 100px;
  position: absolute;
  bottom: 0.85cm;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.8cm;
  display: block;
  width: 0.8cm;
  height: 0.8cm;
  text-align: center;
}

.-nonum::after {
  content: "";
  display: none;
}

body {
  counter-set: h1 h2 h3 h4 h5 h6;
}

.numbering {
  font-weight: inherit;
  width: 3rem;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: inherit;
}

h1 {
  counter-set: h2 0;
  counter-increment: h1;
}

h1::before {
  content: counter(h1);
  position: absolute;
  opacity: 0.25;
  color: hsl(220, 50%, 16%);
  left: -1.5cm;
  top: -3pc;
  line-height: 8rem;
  font-size: 9rem;
  z-index: 0;
}

#legend {
  display: none;
}

@media screen {
  body {
    background-color: darkgray;
  }
  body .A4, body .A4-nonum {
    margin: 0.5cm auto;
    box-shadow: rgb(66, 66, 66) 1px 0px 10px;
  }
}
@media screen and (min-width: 1191px) {
  .scrollLegend .A4, .scrollLegend .A4-nonum {
    transform: translateX(10%);
  }
  #menuRight {
    display: block;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    width: 3rem;
  }
  #menuRight .UI-circle {
    background-color: hsl(220, 100%, 30%);
    color: white;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
  #legend {
    display: block;
    direction: rtl;
    position: fixed;
    top: 0;
    height: 98vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #legend div {
    direction: ltr;
  }
  #legend a {
    background-color: white;
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    list-style-type: none;
    padding: 0.5em 1em 0.5em 1rem;
    margin: 0.25rem 0;
    transition: transform 0.25s ease;
    text-decoration: none;
    color: hsl(220, 50%, 16%);
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
  }
  #legend .H1 {
    font-weight: 400;
    background-color: hsl(220, 100%, 30%);
    color: white;
    width: 250px;
    font-size: 12px;
    margin-top: 0.75rem;
  }
  #legend .H2 {
    font-weight: 400;
    background-color: hsl(220, 100%, 90%);
    font-size: 12px;
    margin-top: 0.5rem;
    padding-left: 2rem;
  }
  #legend .H3 {
    font-weight: 400;
    font-size: 10px;
    padding-left: 2.5rem;
  }
  #legend a:hover {
    transform: translateX(-0.75em);
  }
}
table {
  border-collapse: collapse;
}

td, th {
  padding: 0.1rem 0.2rem;
}

th {
  color: hsl(220, 100%, 30%);
}

td.overflow {
  max-width: 1rem;
  overflow: visible;
}

thead + thead::before {
  content: "";
  display: table-row;
  height: 1.5em;
}

thead.title th {
  font-weight: 300;
  color: black;
}

thead.total th, thead.total div {
  border-bottom: solid 2px hsl(220, 100%, 30%);
  border-top: solid 2px hsl(220, 100%, 30%);
  background-color: hsl(220, 100%, 90%);
}

.subtitle, .subtotal {
  border-bottom: solid 2px hsl(220, 100%, 30%);
}
.subtitle th, .subtotal th {
  font-weight: 400;
}

.subtotal {
  border-top: solid 2px hsl(220, 100%, 30%);
}

tr.color:nth-of-type(2n) td {
  background-color: hsla(220, 100%, 90%, 0.25);
}

.EUR {
  position: relative;
  padding-left: 1em;
}
.EUR::before {
  content: "€";
  position: absolute;
  left: 0;
}

.outline-dark {
  border: 2px solid hsl(220, 50%, 16%);
}
.outline-dark-accent {
  border: 2px solid hsl(220, 100%, 30%);
}
.outline-light {
  border: 2px solid hsl(220, 100%, 90%);
}
.outline-light-accent {
  border: 2px solid #FFCC00;
}

.rounded {
  border-radius: 0.5rem;
}

.-columns, ._columns {
  position: relative;
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.-columns img, ._columns img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-block;
}
.-columns.__l:after, ._columns.__l:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: dotted hsl(220, 100%, 30%) 2px;
  height: 100%;
}
.-columns p, ._columns p {
  margin-top: 0;
}

.t-columns, .columns {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.t-columns.__l, .columns.__l {
  -moz-column-rule: dotted hsl(220, 100%, 30%) 2px;
       column-rule: dotted hsl(220, 100%, 30%) 2px;
}

.bg-green {
  background-color: hsl(99, 55%, 58%);
}

.bg-light {
  background-color: hsl(220, 100%, 90%);
}

.bg-light-accent {
  background-color: #FFCC00;
}

.shadow {
  box-shadow: 1px 1px 0.5rem -1px black;
}

.no-marker {
  list-style-type: none;
}

.hide, .display, .display-none {
  display: none !important;
}

.indent {
  padding-left: 1.25rem;
}
.indent.__l {
  border-left: dotted hsl(220, 100%, 30%) 2px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.timeline {
  display: grid;
  grid-template-columns: 3rem auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 1rem;
  position: relative;
}
.timeline :first-child {
  margin-top: 0;
}
.timeline p, .timeline li, .timeline div {
  text-align: left;
}
.timeline div {
  place-self: start stretch;
  margin: 0;
}
.timeline .card:first-child {
  margin-top: 0;
}
.timeline .circle + div {
  margin-top: 0.9rem;
}
.timeline .circle {
  color: white;
  padding: 1rem 0;
  place-self: center;
  align-self: start;
  background-color: hsl(220, 100%, 30%);
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  line-height: 1rem;
}
.timeline .title {
  color: hsl(220, 100%, 30%);
  text-align: left;
  place-self: start;
  line-height: 3rem;
}
.timeline .year {
  position: relative;
  place-self: start;
  margin-left: 1.5rem;
  padding-left: 1rem;
}
.timeline .year::before {
  content: "";
  display: block;
  position: absolute;
  border: 0.5rem solid hsl(220, 100%, 30%);
  border-radius: 50%;
  left: 0;
  top: 1.5px;
  transform: translateX(-50%);
}
.timeline .-y::before {
  border-color: #FFCC00;
}
.timeline .arrow {
  min-height: 5rem;
  width: 1rem;
  writing-mode: vertical-lr;
  background-color: hsl(220, 100%, 90%);
  padding: 1rem 0.1rem;
  position: relative;
  border: none;
  place-self: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.timeline .arrow::after {
  content: "";
  border-left: calc(0.5rem + 5px) solid white;
  border-right: calc(0.5rem + 5px) solid white;
  border-top: 1rem solid hsl(220, 100%, 90%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
}
.timeline::after {
  content: "";
  position: absolute;
  height: 100%;
  border-right: 2px solid hsl(220, 100%, 30%);
  top: 0;
  left: 1.5rem;
  transform: translateX(-50%);
}
.timeline .card {
  margin-top: 1rem;
  padding: 0.5rem;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  place-self: stretch;
}

.timeline > * > p, .timeline > * > ol, .timeline > * > ul {
  text-align: left !important;
}

.CV {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5cm;
  grid-template-rows: 150px 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  text-align: left;
}
.CV .card {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  flex-grow: 1;
  margin: 0;
}
.CV .card p, .CV .card li, .CV .card small, .CV .card i, .CV .card u, .CV .card strong {
  color: black;
  text-align: left;
}
.CV .card .H1 {
  color: hsl(220, 50%, 16%);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  margin-top: 0;
}
.CV .card .H1::before {
  left: -1rem;
  top: -5px;
}
.CV .card .H2 {
  margin-top: 0.25rem;
  color: hsl(220, 100%, 30%);
  font-size: 1.25rem;
  font-weight: 400;
}
.CV .card p {
  margin-top: 0.75rem;
}
.CV .card h1 + p, .CV .card h2 + p, .CV .card h3 + p, .CV .card h4 + p,
.CV .card h2 + ul, .CV .card h2 + ol, .CV .card h3 + ul, .CV .card h3 + ol, .CV .card h4 + ul, .CV .card h4 + ol,
.CV .card h1 + figure + p, .CV .card h2 + figure + p, .CV .card h3 + figure + p, .CV .card h4 + figure + p,
.CV .card h1 + p, .CV .card h2 + p, .CV .card h3 + p, .CV .card h4 + p h1 + figure,
.CV .card h2 + figure, .CV .card h3 + figure, .CV .card h4 + figure,
.CV .card .H1 + p, .CV .card .H2 + p, .CV .card .H3 + p, .CV .card .H4 + p {
  margin-top: 0.25rem;
}
.CV .card ul, .CV .card ol {
  list-style-position: outside;
}
.CV .card ul li, .CV .card ol li {
  margin-left: 1.25rem;
}
.CV .portret {
  -o-object-position: top;
     object-position: top;
}
.CV strong {
  font-weight: 600;
}
.CV a {
  color: white;
  -webkit-text-decoration: solid underline white 1px;
          text-decoration: solid underline white 1px;
}
.CV .ratings {
  color: black;
  margin-top: 0.25rem;
}
.CV .ratings div {
  display: inline-block;
  width: 85px;
  margin-bottom: 10px;
}
.CV .ratings .circle {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  border: 1.5px solid hsl(220, 100%, 30%);
  margin: 0 5px;
  transform: translateY(1px);
}
.CV .ratings .fill {
  background-color: hsl(220, 100%, 30%);
}
.CV .ratings .fill-half {
  background-color: #7EA2CB;
}
.CV .ratings .logo img {
  display: inline;
  height: 1rem;
  line-height: 1rem;
}
.CV .ratings .-margin {
  margin-bottom: 0px;
}
.CV #right, .CV #left {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}
.CV img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.CV .split-card {
  grid-column: span 2;
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.CV .split-card figure {
  width: 150px;
  height: 100%;
  margin: 0;
}
.CV .split-card figure img {
  border-radius: 0.5rem;
}
.CV .split-card .contact {
  flex-basis: 220px;
}
.CV .split-card div {
  padding: 1rem 0;
  margin: 0;
}
.CV .split-card .H1 {
  font-size: 1.5rem;
}
.CV .white {
  cursor: default;
  border-radius: 6.5px;
  border: solid 2px hsl(220, 100%, 30%);
  padding: 5px 10px;
  line-height: 40px;
  word-spacing: 5px;
  margin-right: 5px;
  white-space: nowrap;
  background-color: white;
  overflow: hidden;
  color: black;
}
.CV .blue {
  line-height: 0;
  color: white;
  cursor: default;
  border: solid hsl(220, 100%, 30%) 1px;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 40px;
  word-spacing: 5px;
  margin-right: 5px;
  white-space: nowrap;
  background-color: hsl(220, 100%, 30%);
}

@media screen {
  .responsive {
    background: hsl(220, 50%, 16%) url("../Assets/bg.jpg") fixed;
    background-size: cover;
  }
  .responsive .CV {
    box-shadow: none;
    margin: 0 auto;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 800px) {
  .responsive {
    background-color: hsl(220, 50%, 16%);
  }
  .responsive .CV {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 7.5%;
  }
  .responsive .CV .split-card {
    flex-direction: column;
  }
  .responsive .CV .split-card .contact {
    flex-basis: 0;
  }
  .responsive .CV .split-card div {
    padding: 0;
  }
  .responsive .CV figure {
    max-width: 100%;
    max-height: 400px;
    width: 100%;
  }
}
:root {
  font-size: 11pt;
}

.legend a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.legend .H3 {
  color: black;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */