@use 'Stylegroups/vars' as *;

@use 'Stylegroups/icons';
@use 'Stylegroups/page';
@use 'Stylegroups/sections';
@use 'Stylegroups/text';
@use 'Stylegroups/colours';
@use 'Stylegroups/elements';
@use 'Stylegroups/counters';
@use 'Stylegroups/workenvironment';
@use 'Stylegroups/tables';
@use 'Stylegroups/utils';
@use 'Stylegroups/__timeline';
@use 'Stylegroups/__CV';

// style reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    z-index:1;
}
:root{
    font-size: $font-size;
}

//----------------------------------------------//
// specific elements
//----------------------------------------------//