@charset "UTF-8";
.icon, .I-engineering::before, .I-code::before, .I-interests::before, .I-education::before, .I-history::before, .I-question::before, .I-document::before, .I-earth::before, .I-lamp::before, .I-movie::before, .I-date::before, .I-music::before, .I-location::before, .I-groups::before, .I-quote::before, q::before, blockquote::before, .I-priority::before, .I-done-all::before, .I-flag-fill::before, .I-flag::before, .I-h-rule::before, .I-close::before, .I-done::before {
  display: inline;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  color: #003399;
  line-height: 1.2em;
  text-transform: lowercase;
}
.icon ::before, .I-engineering::before ::before, .I-code::before ::before, .I-interests::before ::before, .I-education::before ::before, .I-history::before ::before, .I-question::before ::before, .I-document::before ::before, .I-earth::before ::before, .I-lamp::before ::before, .I-movie::before ::before, .I-date::before ::before, .I-music::before ::before, .I-location::before ::before, .I-groups::before ::before, .I-quote::before ::before, q::before ::before, blockquote::before ::before, .I-priority::before ::before, .I-done-all::before ::before, .I-flag-fill::before ::before, .I-flag::before ::before, .I-h-rule::before ::before, .I-close::before ::before, .I-done::before ::before {
  color: #003399;
}

.GI {
  font-family: "Material Icons";
  font-size: 1.2em;
  line-height: 0em;
  position: relative;
  top: 0.15em;
}

.I-done::before {
  content: "done";
  color: green;
}
.I-close::before {
  content: "close";
  color: red;
}
.I-h-rule::before {
  content: "horizontal_rule";
  color: orange;
}
.I-flag::before {
  content: "outlined_flag";
}
.I-flag-fill::before {
  content: "flag";
}
.I-done-all::before {
  content: "done_all";
  color: green;
}
.I-priority::before {
  content: "priority_high";
  color: red;
}
.I-quote::before, q::before, blockquote::before {
  content: "format_quote";
}
.I-groups::before {
  content: "groups";
}
.I-location::before {
  content: "location_on";
}
.I-music::before {
  content: "music_note";
}
.I-date::before {
  content: "event";
}
.I-movie::before {
  content: "live_tv";
}
.I-lamp::before {
  content: "emoji_objects";
}
.I-earth::before {
  content: "Public";
}
.I-document::before {
  content: "Document";
}
.I-question::before {
  content: "Question_mark";
}
.I-history::before {
  content: "history";
}
.I-education::before {
  content: "history_edu";
}
.I-interests::before {
  content: "interests";
}
.I-code::before {
  content: "code";
}
.I-engineering::before {
  content: "engineering";
}
.I-done, .I-done-all, .I-close, .I-h-rule, .I-flag, .I-flag-fill, .I-priority, .I-quote, q, blockquote, .I-groups, .I-location, .I-music, .I-date, .I-movie, .I-lamp, .I-earth, .I-document, .I-question, .I-history, .I-education, .I-engineering, .I-code, .I-interests {
  list-style-type: none;
  position: relative;
  padding-left: 1.2rem;
}
.I-doneli, .I-done-allli, .I-closeli, .I-h-ruleli, .I-flagli, .I-flag-fillli, .I-priorityli, .I-quoteli, .I-groupsli, .I-locationli, .I-musicli, .I-dateli, .I-movieli, .I-lampli, .I-earthli, .I-documentli, .I-questionli, .I-historyli, .I-questionli, .I-educationli, .I-engineeringli, .I-codeli, .I-interestsli {
  margin-left: 0;
}
.I-done.I-big, .I-done-all.I-big, .I-close.I-big, .I-h-rule.I-big, .I-flag.I-big, .I-flag-fill.I-big, .I-priority.I-big, .I-quote.I-big, q.I-big, blockquote.I-big, .I-groups.I-big, .I-location.I-big, .I-music.I-big, .I-date.I-big, .I-movie.I-big, .I-lamp.I-big, .I-earth.I-big, .I-document.I-big, .I-question.I-big, .I-history.I-big, .I-education.I-big, .I-engineering.I-big, .I-code.I-big, .I-interests.I-big {
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.I-done.I-big::before, .I-done-all.I-big::before, .I-close.I-big::before, .I-h-rule.I-big::before, .I-flag.I-big::before, .I-flag-fill.I-big::before, .I-priority.I-big::before, .I-quote.I-big::before, q.I-big::before, blockquote.I-big::before, .I-groups.I-big::before, .I-location.I-big::before, .I-music.I-big::before, .I-date.I-big::before, .I-movie.I-big::before, .I-lamp.I-big::before, .I-earth.I-big::before, .I-document.I-big::before, .I-question.I-big::before, .I-history.I-big::before, .I-education.I-big::before, .I-engineering.I-big::before, .I-code.I-big::before, .I-interests.I-big::before {
  font-size: 2.5rem;
  line-height: 2.5rem;
  left: 0;
}
.I-done.I-card, .I-done-all.I-card, .I-close.I-card, .I-h-rule.I-card, .I-flag.I-card, .I-flag-fill.I-card, .I-priority.I-card, .I-quote.I-card, q.I-card, blockquote, .I-groups.I-card, .I-location.I-card, .I-music.I-card, .I-date.I-card, .I-movie.I-card, .I-lamp.I-card, .I-earth.I-card, .I-document.I-card, .I-question.I-card, .I-history.I-card, .I-education.I-card, .I-engineering.I-card, .I-code.I-card, .I-interests.I-card {
  padding: 1.25rem 4rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0;
}
.I-done.I-card::before, .I-done-all.I-card::before, .I-close.I-card::before, .I-h-rule.I-card::before, .I-flag.I-card::before, .I-flag-fill.I-card::before, .I-priority.I-card::before, .I-quote.I-card::before, q.I-card::before, blockquote::before, .I-groups.I-card::before, .I-location.I-card::before, .I-music.I-card::before, .I-date.I-card::before, .I-movie.I-card::before, .I-lamp.I-card::before, .I-earth.I-card::before, .I-document.I-card::before, .I-question.I-card::before, .I-history.I-card::before, .I-education.I-card::before, .I-engineering.I-card::before, .I-code.I-card::before, .I-interests.I-card::before {
  font-size: 3rem;
  left: 0.5rem;
  top: 0.25rem;
}
.I-done.I-dark::before, .I-done-all.I-dark::before, .I-close.I-dark::before, .I-h-rule.I-dark::before, .I-flag.I-dark::before, .I-flag-fill.I-dark::before, .I-priority.I-dark::before, .I-quote.I-dark::before, q.I-dark::before, blockquote.I-dark::before, .I-groups.I-dark::before, .I-location.I-dark::before, .I-music.I-dark::before, .I-date.I-dark::before, .I-movie.I-dark::before, .I-lamp.I-dark::before, .I-earth.I-dark::before, .I-document.I-dark::before, .I-question.I-dark::before, .I-history.I-dark::before, .I-education.I-dark::before, .I-engineering.I-dark::before, .I-code.I-dark::before, .I-interests.I-dark::before {
  color: #14223d;
}
.I-done.I-light::before, .I-done-all.I-light::before, .I-close.I-light::before, .I-h-rule.I-light::before, .I-flag.I-light::before, .I-flag-fill.I-light::before, .I-priority.I-light::before, .I-quote.I-light::before, q.I-light::before, blockquote.I-light::before, .I-groups.I-light::before, .I-location.I-light::before, .I-music.I-light::before, .I-date.I-light::before, .I-movie.I-light::before, .I-lamp.I-light::before, .I-earth.I-light::before, .I-document.I-light::before, .I-question.I-light::before, .I-history.I-light::before, .I-education.I-light::before, .I-engineering.I-light::before, .I-code.I-light::before, .I-interests.I-light::before {
  color: #ccddff;
}
.I-done.I-dark-accent::before, .I-done-all.I-dark-accent::before, .I-close.I-dark-accent::before, .I-h-rule.I-dark-accent::before, .I-flag.I-dark-accent::before, .I-flag-fill.I-dark-accent::before, .I-priority.I-dark-accent::before, .I-quote.I-dark-accent::before, q.I-dark-accent::before, blockquote.I-dark-accent::before, .I-groups.I-dark-accent::before, .I-location.I-dark-accent::before, .I-music.I-dark-accent::before, .I-date.I-dark-accent::before, .I-movie.I-dark-accent::before, .I-lamp.I-dark-accent::before, .I-earth.I-dark-accent::before, .I-document.I-dark-accent::before, .I-question.I-dark-accent::before, .I-history.I-dark-accent::before, .I-education.I-dark-accent::before, .I-engineering.I-dark-accent::before, .I-code.I-dark-accent::before, .I-interests.I-dark-accent::before {
  color: #003399;
}
.I-done.I-light-accent::before, .I-done-all.I-light-accent::before, .I-close.I-light-accent::before, .I-h-rule.I-light-accent::before, .I-flag.I-light-accent::before, .I-flag-fill.I-light-accent::before, .I-priority.I-light-accent::before, .I-quote.I-light-accent::before, q.I-light-accent::before, blockquote.I-light-accent::before, .I-groups.I-light-accent::before, .I-location.I-light-accent::before, .I-music.I-light-accent::before, .I-date.I-light-accent::before, .I-movie.I-light-accent::before, .I-lamp.I-light-accent::before, .I-earth.I-light-accent::before, .I-document.I-light-accent::before, .I-question.I-light-accent::before, .I-history.I-light-accent::before, .I-education.I-light-accent::before, .I-engineering.I-light-accent::before, .I-code.I-light-accent::before, .I-interests.I-light-accent::before {
  color: #FFCC00;
}
.I-done.I-right, .I-done-all.I-right, .I-close.I-right, .I-h-rule.I-right, .I-flag.I-right, .I-flag-fill.I-right, .I-priority.I-right, .I-quote.I-right, q.I-right, blockquote.I-right, .I-groups.I-right, .I-location.I-right, .I-music.I-right, .I-date.I-right, .I-movie.I-right, .I-lamp.I-right, .I-earth.I-right, .I-document.I-right, .I-question.I-right, .I-history.I-right, .I-education.I-right, .I-engineering.I-right, .I-code.I-right, .I-interests.I-right {
  padding-left: 0;
  padding-right: 1.2rem;
}
.I-done.I-right::before, .I-done-all.I-right::before, .I-close.I-right::before, .I-h-rule.I-right::before, .I-flag.I-right::before, .I-flag-fill.I-right::before, .I-priority.I-right::before, .I-quote.I-right::before, q.I-right::before, blockquote.I-right::before, .I-groups.I-right::before, .I-location.I-right::before, .I-music.I-right::before, .I-date.I-right::before, .I-movie.I-right::before, .I-lamp.I-right::before, .I-earth.I-right::before, .I-document.I-right::before, .I-question.I-right::before, .I-history.I-right::before, .I-education.I-right::before, .I-engineering.I-right::before, .I-code.I-right::before, .I-interests.I-right::before {
  right: 0;
}

.-list {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin-left: 1.25rem;
}
.-list::before {
  left: -1rem;
}

.I-list {
  margin-left: 0;
}

.F-RU::before {
  content: "🇷🇺 ";
  white-space: nowrap;
}
.F-FR::before {
  content: "🇫🇷 ";
  white-space: nowrap;
}
.F-PL::before {
  content: "🇵🇱 ";
  white-space: nowrap;
}
.F-IR::before {
  content: "🇮🇷 ";
  white-space: nowrap;
}
.F-IL::before {
  content: "🇮🇱  ";
  white-space: nowrap;
}
.F-NL::before {
  content: "🇳🇱 ";
  white-space: nowrap;
}
.F-DE::before {
  content: "🇩🇪 ";
  white-space: nowrap;
}
.F-IT::before {
  content: "🇮🇹 ";
  white-space: nowrap;
}
.F-EU::before {
  content: "🇪🇺 ";
  white-space: nowrap;
}
.F-BE::before {
  content: "🇧🇪 ";
  white-space: nowrap;
}
.F-LU::before {
  content: "🇱🇺 ";
  white-space: nowrap;
  white-space: nowrap;
}
.F-BY::before {
  content: "🇧🇾 ";
  white-space: nowrap;
}
.F-DK::before {
  content: "🇩🇰 ";
  white-space: nowrap;
}
.F-IE::before {
  content: "🇮🇪 ";
  white-space: nowrap;
}
.F-UK::before {
  content: "🇬🇧 ";
  white-space: nowrap;
}
.F-GR::before {
  content: "🇬🇷 ";
  white-space: nowrap;
}
.F-ES::before {
  content: "🇪🇸 ";
  white-space: nowrap;
}
.F-PT::before {
  content: "🇵🇹 ";
  white-space: nowrap;
}
.F-x::before {
  content: "x ";
  white-space: nowrap;
}
.F-x::before {
  content: "x ";
  white-space: nowrap;
}

.A4, .A4-nonum {
  width: 794px;
  height: 1122px;
  position: relative;
  background-color: white;
  padding: 2.5cm;
  overflow: hidden;
}
.A4:first-child, .A4-nonum:first-child {
  margin-top: 0;
}

.landscape {
  width: 1122px;
  height: 794px;
}

section {
  width: 794px;
  position: relative;
  left: -2.5cm;
  margin-top: 1.25rem;
  padding: 1.25rem 2.5cm;
}
section.banner {
  padding: 0;
  display: block;
}
section.banner img {
  width: 100%;
}
section.banner.-columns {
  column-gap: 0;
}

section + section, section + .banner {
  margin-top: 0;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.7em;
  border-radius: 1em;
  border: 1.5px solid #003399;
  background-color: #ccddff;
  color: black;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0.5rem 0rem 0rem 0;
  line-height: 1rem;
}

.card {
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0;
}

.-columns, ._columns {
  position: relative;
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.-columns img, ._columns img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-block;
}
.-columns.__l:after, ._columns.__l:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: dotted #003399 2px;
  height: 100%;
}
.-columns p, ._columns p {
  margin-top: 0;
}

.t-columns, .columns {
  columns: 2;
  column-gap: 1em;
}
.t-columns.__l, .columns.__l {
  column-rule: dotted #003399 2px;
}

figure, .picture {
  margin-top: 0.75rem;
  float: right;
  float: inline-end;
  width: calc(50% - 0.5rem);
  margin-left: 1rem;
  position: relative;
  transform: translateY(3px);
}
figure figcaption, .picture figcaption {
  color: #003399;
  font-style: italic;
}
figure img, .picture img {
  display: block;
}
figure.__l::after, .picture.__l::after {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5rem;
  transform: translate(-50%);
  border-left: dotted #003399 2px;
  height: 100%;
}
figure img, .picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-block;
}

.picture-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
  width: 100%;
  margin: 0.75rem 0 0 0;
}
.picture-gallery div {
  min-height: 100%;
}
.picture-gallery div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: inline-block;
}

.picture-gallery + .picture-gallery {
  margin-top: 1rem;
}

aside {
  position: absolute;
  left: 0.5cm;
  max-width: 2cm;
  height: auto;
  max-height: 10cm;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}

h1, .H1 {
  color: #14223d;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  position: relative;
}

h2, .H2 {
  margin-top: 1.25rem;
  color: #003399;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #ccddff;
}

h3, .H3 {
  margin-top: 1rem;
  color: #003399;
  font-size: 1rem;
  font-weight: 600;
}

h4, .H4 {
  margin-top: 0.75rem;
  color: #FFCC00;
  font-size: 1rem;
  font-weight: 500;
}

p, ol, ul {
  margin: 0.75rem 0 0 0;
  text-align: justify;
  color: black;
}

h1 + p, h2 + p, h3 + p, h4 + p,
h2 + ul, h2 + ol, h3 + ul, h3 + ol, h4 + ul, h4 + ol,
h1 + figure + p, h2 + figure + p, h3 + figure + p, h4 + figure + p,
h1 + p, h2 + p, h3 + p, h4 + p h1 + figure,
h2 + figure, h3 + figure, h4 + figure,
.H1 + p, .H2 + p, .H3 + p, .H4 + p {
  margin-top: 0.25rem;
}

u {
  text-decoration: underline solid 1px #003399;
}
u.dotted {
  text-decoration: underline dotted 1px #003399;
}

b, strong {
  font-weight: 500;
  color: #003399;
}

em {
  font-style: normal;
  background-color: #ffea00;
  border-radius: 2px;
  padding: 0 0.25em;
}

q {
  padding: 0 0.8em;
}
q::before {
  position: absolute;
  font-size: 0.75em;
  transform: scaleX(-1);
}
q::after {
  font-size: 0.75em;
  position: absolute;
  font-family: "Material Icons";
  content: "format_quote";
  color: #003399;
}

a {
  color: #14223d;
  text-decoration: underline dotted 1px #003399;
}

.small {
  font-size: 0.8em;
  margin-top: 0.25rem;
}

small {
  font-size: 0.8em;
}

ul, ol {
  list-style-position: outside;
}
ul li, ol li {
  margin-left: 1.25rem;
}

ul + li, ol + li {
  margin-top: 0.2rem;
}

ul > ul, ol > ol, ol > ul, ul > ol {
  margin-top: 0;
  margin-left: 1.5rem;
}

ul > ul, ol > ol, ol > ul, ul > ol {
  list-style-position: outside;
  margin-left: 1.5rem;
}

ul > ul, ul > ol, ol > ul, ol > ol {
  font-size: 0.8em;
}

blockquote {
  text-align: justify;
}
blockquote cite {
  display: block;
  text-align: right;
}

.col-2 {
  columns: 2;
}

.dark > .light, .light {
  background-color: #ccddff;
  color: black;
}
.dark > .light h1, .dark > .light .H1, .light h1, .light .H1 {
  color: #14223d;
}
.dark > .light h2, .dark > .light .H2, .light h2, .light .H2 {
  color: #003399;
  border-bottom: 2px dotted #003399;
}
.dark > .light h3, .dark > .light .H3, .light h3, .light .H3 {
  color: #003399;
}
.dark > .light.-grad, .light.-grad {
  background: linear-gradient(45deg, #6699ff, #ccddff);
}
.dark > .light .tag, .light .tag {
  background-color: #003399;
  color: white;
}
.dark > .light .tag ::before, .light .tag ::before {
  color: #ccddff;
}

.dark {
  background-color: #14223d;
  color: white;
}
.dark h1, .dark .H1, .dark p, .dark li, .dark ul, .dark ol, .dark u, .dark i {
  color: white;
}
.dark b {
  color: #FFCC00;
}
.dark h2, .dark .H2 {
  color: #FFCC00;
  border: none;
}
.dark h3, .dark .H3 {
  color: #ccddff;
}
.dark.quote p::before {
  color: #ccddff;
}
.dark.quote i {
  color: #ccddff;
}
.dark.-grad {
  background: linear-gradient(45deg, #14223d, #14223d, #003399);
}

.dark-accent {
  background-color: #003399;
  color: white;
}
.dark-accent h1, .dark-accent .H1, .dark-accent p, .dark-accent li, .dark-accent ul, .dark-accent ol, .dark-accent u, .dark-accent i {
  color: white;
}
.dark-accent b {
  color: #ccddff;
}
.dark-accent h2, .dark-accent .H2 {
  color: #FFCC00;
}
.dark-accent h3, .dark-accent .H3 {
  color: #ccddff;
}
.dark-accent.-grad {
  background: linear-gradient(-45deg, #ccddff, #003399, #003399);
}

.light-accent {
  background-color: #FFCC00;
  color: #14223d;
}
.light-accent h1, .light-accent .H1, .light-accent p, .light-accent li, .light-accent ul, .light-accent ol, .light-accent u, .light-accent i {
  color: #14223d;
}
.light-accent h2, .light-accent .H2, .light-accent .GI {
  color: #003399;
}

.t-dark {
  color: #14223d;
}

.t-light {
  color: #ccddff;
}

.t-dark-accent {
  color: #003399;
}

.t-light-accent {
  color: #FFCC00;
}

.A4:first-of-type {
  counter-set: p 0;
}

.A4 {
  counter-increment: p;
}
.A4::after {
  content: counter(p);
  background-color: #003399;
  color: white;
  border-radius: 100px;
  position: absolute;
  bottom: 0.85cm;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.8cm;
  display: block;
  width: 0.8cm;
  height: 0.8cm;
  text-align: center;
}

.A4-nonum {
  counter-increment: p;
}

.-nonum::after {
  content: "";
  display: none;
}

body {
  counter-set: h1 h2 h3 h4 h5 h6;
}

h1 {
  counter-set: h2 0;
  counter-increment: h1;
}

h1::before {
  content: counter(h1);
  position: absolute;
  opacity: 0.25;
  color: #14223d;
  left: -1.5cm;
  bottom: -1pc;
  line-height: 8rem;
  font-size: 9rem;
  z-index: 0;
}

#legend {
  display: none;
}

@media screen {
  body {
    background-color: darkgray;
  }
  body .A4, body .A4-nonum {
    margin: 0.5cm auto;
    box-shadow: #424242 1px 0px 10px;
  }
}
@media screen and (min-width: 1191px) {
  .scrollLegend .A4, .scrollLegend .A4-nonum {
    transform: translateX(10%);
  }

  #legend {
    display: block;
    direction: rtl;
    position: fixed;
    top: 0;
    height: 98vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #legend div {
    direction: ltr;
  }
  #legend a {
    background-color: white;
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    list-style-type: none;
    padding: 0.5em 1em 0.5em 1rem;
    margin: 0.25rem 0;
    transition: transform 0.25s ease;
    text-decoration: none;
    color: #14223d;
    display: block;
    width: fit-content;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
  }
  #legend .H1 {
    font-weight: 400;
    background-color: #003399;
    color: white;
    width: 250px;
    font-size: 12px;
    margin-top: 0.75rem;
  }
  #legend .H2 {
    font-weight: 400;
    background-color: #ccddff;
    font-size: 12px;
    margin-top: 0.5rem;
    padding-left: 2rem;
    border: none;
  }
  #legend .H3 {
    font-weight: 400;
    font-size: 10px;
    padding-left: 2rem;
  }
  #legend a:hover {
    transform: translateX(-0.75em);
  }
}
table {
  text-align: left;
  font-size: 0.9rem;
  width: 100%;
}
table th {
  font-weight: 600;
}

.red {
  color: red;
}

.green {
  color: green;
}

.outline-dark {
  border: 2px solid #14223d;
}
.outline-dark-accent {
  border: 2px solid #003399;
}
.outline-light {
  border: 2px solid #ccddff;
}
.outline-light-accent {
  border: 2px solid #FFCC00;
}

.timeline {
  display: grid;
  grid-template-columns: 3rem auto;
  column-gap: 3rem;
  row-gap: 1rem;
  position: relative;
}
.timeline :first-child {
  margin-top: 0;
}
.timeline p, .timeline li, .timeline div {
  text-align: left;
}
.timeline div {
  place-self: start stretch;
  margin: 0;
}
.timeline .card:first-child {
  margin-top: 0;
}
.timeline .circle + div {
  margin-top: 0.9rem;
}
.timeline .circle {
  color: white;
  padding: 1rem 0;
  place-self: center;
  align-self: start;
  background-color: #003399;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  line-height: 1rem;
}
.timeline .title {
  color: #003399;
  text-align: left;
  place-self: start;
  line-height: 3rem;
}
.timeline .year {
  position: relative;
  place-self: start;
  margin-left: 1.5rem;
  padding-left: 1rem;
}
.timeline .year::before {
  content: "";
  display: block;
  position: absolute;
  border: 0.5rem solid #003399;
  border-radius: 50%;
  left: 0;
  top: 1.5px;
  transform: translateX(-50%);
}
.timeline .-y::before {
  border-color: #FFCC00;
}
.timeline .arrow {
  min-height: 5rem;
  width: 1rem;
  writing-mode: vertical-lr;
  background-color: #ccddff;
  padding: 1rem 0.1rem;
  position: relative;
  border: none;
  place-self: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.timeline .arrow::after {
  content: "";
  border-left: calc(0.5rem + 5px) solid white;
  border-right: calc(0.5rem + 5px) solid white;
  border-top: 1rem solid #ccddff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
}
.timeline::after {
  content: "";
  position: absolute;
  height: 100%;
  border-right: 2px solid #003399;
  top: 0;
  left: 1.5rem;
  transform: translateX(-50%);
}
.timeline .card {
  margin-top: 1rem;
  padding: 0.5rem;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  place-self: stretch;
}

.CV {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5cm;
  grid-template-rows: 150px 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.CV .card {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  flex-grow: 1;
  margin: 0;
}
.CV .card p, .CV .card li, .CV .card small, .CV .card i, .CV .card u, .CV .card strong {
  color: black;
}
.CV .card .H1 {
  color: #14223d;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
.CV .card .H2 {
  margin-top: 0.25rem;
  color: #FFCC00;
  font-size: 1.5rem;
  font-weight: 700;
}
.CV .card p {
  margin-top: 0.75rem;
}
.CV .card h1 + p, .CV .card h2 + p, .CV .card h3 + p, .CV .card h4 + p,
.CV .card h2 + ul, .CV .card h2 + ol, .CV .card h3 + ul, .CV .card h3 + ol, .CV .card h4 + ul, .CV .card h4 + ol,
.CV .card h1 + figure + p, .CV .card h2 + figure + p, .CV .card h3 + figure + p, .CV .card h4 + figure + p,
.CV .card h1 + p, .CV .card h2 + p, .CV .card h3 + p, .CV .card h4 + p h1 + figure,
.CV .card h2 + figure, .CV .card h3 + figure, .CV .card h4 + figure,
.CV .card .H1 + p, .CV .card .H2 + p, .CV .card .H3 + p, .CV .card .H4 + p {
  margin-top: 0.25rem;
}
.CV .card ul, .CV .card ol {
  list-style-position: outside;
}
.CV .card ul li, .CV .card ol li {
  margin-left: 1.25rem;
}
.CV strong {
  font-weight: 600;
}
.CV a {
  color: white;
  text-decoration: solid underline white 1px;
}
.CV .ratings {
  color: black;
  margin-top: 0.25rem;
}
.CV .ratings div {
  display: inline-block;
  width: 85px;
  margin-bottom: 10px;
}
.CV .ratings .circle {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  border: 1.5px solid #003399;
  margin: 0 5px;
  transform: translateY(1px);
}
.CV .ratings .fill {
  background-color: #003399;
}
.CV .ratings .fill-half {
  background-color: #7EA2CB;
}
.CV .ratings .logo img {
  display: inline;
  height: 1rem;
  line-height: 1rem;
}
.CV .ratings .-margin {
  margin-bottom: 0px;
}
.CV #right, .CV #left {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
}
.CV img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.CV .split-card {
  grid-column: span 2;
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.CV .split-card figure {
  width: 150px;
  height: 100%;
  margin: 0;
}
.CV .split-card figure img {
  border-radius: 0.5rem;
}
.CV .split-card div {
  padding: 1rem 0;
  margin: 0;
}
.CV .split-card .H1 {
  font-size: 1.5rem;
}
.CV .white {
  cursor: default;
  border-radius: 6.5px;
  border: solid 2px #003399;
  padding: 5px 10px;
  line-height: 40px;
  word-spacing: 5px;
  margin-right: 5px;
  white-space: nowrap;
  background-color: white;
  overflow: hidden;
  color: black;
}
.CV .blue {
  line-height: 0;
  color: white;
  cursor: default;
  border: solid #003399 1px;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 40px;
  word-spacing: 5px;
  margin-right: 5px;
  white-space: nowrap;
  background-color: #003399;
}

@media screen {
  .responsive {
    background-color: #14223d;
  }
  .responsive .CV {
    box-shadow: none;
    margin: 0 auto;
    height: fit-content;
  }
}
@media screen and (min-width: 800px) {
  .responsive {
    background: #003399 url("../Assets/bg.jpg") fixed;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  z-index: 1;
}

:root {
  font-size: 11pt;
}

#structure {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
#structure div {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#structure div img {
  height: 100px;
  margin: 0 auto;
}
#structure div ul {
  text-align: left;
}
#structure div div {
  flex-grow: 1;
}

.legend a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.legend .H3 {
  color: black;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
